<section id="header">
 <div class="container">
  <div class="row">
    <div class="col-md-9">
      <div class="nav">
        <a href="/"><img src="/img/115099.jpg" alt="" height="50px" width="100px" id="image"></a>
        <p><a href="/">Home</a></p>
        <p><a href="#service">Services</a></p>
        <p><a href="/testiadd">Testinominals</a></p>
        <p><a href="#">Contact</a></p>
    </div>
  </div>
  <div class="col-md-3">
    <form class="d-flex">
      <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success " type="submit">Search</button>
    </form>
    </div>
  </div>
 </div>
</section>
