<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="" method="post">
          <label>Enter Email</label>
          <input type="email" class="form-control" required/>
          <button class="btn btn-primary">Get Verification Link</button>
    </form>
</body>
</html>